name: gatekeeper

services:
  db:
    image: postgres:16-alpine
    container_name: gatekeeper_db
    restart: always
    environment:
      - POSTGRES_USER=gatekeeper
      - POSTGRES_DB=gatekeeper
      - POSTGRES_PASSWORD_FILE=/run/secrets/db_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    secrets:
      - db_password
    healthcheck:
      test: ["CMD-SHELL", "pg-isready -U gatekeeper -d gatekeeper"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

volumes:
  postgres_data:

secrets:
  db_password:
    file: ./secrets/db_password.txt